db.sqlite3
geckodriver.log
__pycache__
*.pyc
functional_tests.py.save.1
functional_tests.py.save
functional_tests/tests.p.swp
functional_tests/.tests.p.swp
lists/templates/.base.html.swp
lists/static/bootstrap/css/bootstrap.min.css.save
